/* StartMenu.module.css */
.startMenu {
    position: fixed;
    bottom: 40px;
    left: 1.5px;
    width: 300px; /* Ajusta según sea necesario */
    background-color: #2e7d32; /* Verde oscuro */
    padding: 16px; /* Ajusta según sea necesario */
    border: 2px solid #1565c0; /* Azul oscuro */
    border-radius: 10px; /* Ajusta según sea necesario */
    z-index: 1001;
    font-family: 'Tahoma', sans-serif;
    font-size: 16px; /* Ajusta según sea necesario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ajusta según sea necesario */
    
}

.menuContent p {
    display: flex;
    align-items: center;
    gap: 8px; /* Ajusta según sea necesario */
    margin: 0;
    padding: 8px;
    cursor: pointer;
}

.menuContent p svg {
    width: 24px; /* Ajusta según sea necesario */
    height: 24px; /* Ajusta según sea necesario */
}



.menuContent p:hover {
    background-color: #1565c0;
}



@media (max-width: 480px) {
    .startMenu {
        width: 300px; /* Ajusta según sea necesario */
        height: 200px;
        font-size: 14px; /* Ajusta según sea necesario */
        padding: 12px; /* Ajusta según sea necesario */
    }

    .menuContent p {
        padding: 12px; /* Ajusta según sea necesario */
        font-size: 18px; /* Ajusta según sea necesario */
    }

    .menuContent p svg {
        width: 30px; /* Ajusta según sea necesario */
        height: 30px; /* Ajusta según sea necesario */
    }
}
