/* Taskbar.module.css */

.taskbar {
  background-color: #017ACD;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  border-top: 1px solid #1a1717;
}

.leftSection {
  display: flex;
  align-items: center;
}

.midSection {
  position: relative; /* Añade display: flex para que los elementos dentro de rightSection sean flexibles */
 
  align-items: center;
  flex-grow: 1; /* Hace que el midSection ocupe todo el espacio disponible */
  margin-left: 8px; /* Añade un margen izquierdo para separar midSection y rightSection */
}

.rightSection {
  background-color: #3b91ca;
  padding: 8px 12px;
  border-radius: 4px;
  position: relative; /* Añade display: flex para que los elementos dentro de rightSection sean flexibles */
  left: 10px;
}

.rightSection:hover {
  cursor: pointer;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .clock-container {
    margin-left: 0;
  }

  .midSection {
    display: flex;
   height: 45px;
    align-self:normal; /* Estira el elemento verticalmente para ocupar tanto arriba como abajo */
    position: relative;
    right: 50px;
  }
  

  .rightSection {
    flex-direction: column; /* Cambia la dirección a columna para evitar que los elementos se superpongan */
    align-items: center;
    justify-content: center; /* Centra los elementos verticalmente en pantallas más pequeñas */
    margin-left: 0; /* Elimina el margen izquierdo para mantener un diseño más limpio en pantallas más pequeñas */
  }
}
