/* TaskbarWindows.module.css */

.taskbarWindows {
    display: flex;
    gap: 8px;
    padding: 8px;
  }
  
  .window {
    background-color: #3b91ca;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .activeWindow {
    background-color: #017ACD;
    color: #ffffff;
  }
  
  /* Media Query para hacer que los elementos sean más responsive */
  @media (max-width: 768px) {
    .taskbarWindows {
      flex-direction: column; /* Cambia a una disposición de columna en pantallas más pequeñas */
      align-items: center; /* Alinea los elementos al centro en pantallas más pequeñas */
    }
  
    .window {
      width: 100%; /* Ocupa el ancho completo en pantallas más pequeñas */
      margin-bottom: 8px; /* Añade un margen inferior entre elementos en pantallas más pequeñas */
    }
  }
  