.taskbarWindows {
  display: flex;
  gap: 8px;
  padding: 8px;
}

.window {
  background-color: #3b91ca;
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center; 
}

.activeWindow {
  background-color: #017ACD;
  color: #ffffff;
}

.window img {
  width: 30px;
  height: 20px;
  margin-right: 8px;
}

@media (max-width: 530px) {
  .taskbarWindows {
    flex-direction: column;
    align-items: center;
  }

  .window {
    width: 100%;
    height: 30px;
    margin-bottom: 8px;
    padding: 0px;
  }

  .window img {
    width: 30px;
    height: 30px;
    margin-left: 8px;
  }

  .window span {
    display: none;
  }
}
