/* TaskbarWindows.module.css */

.taskbarWindows {
  display: flex;
  gap: 8px;
  padding: 8px;
}

.window {
  background-color: #3b91ca;
  padding: 4px 12px; /* Ajustado el padding para más espacio alrededor del texto e imagen */
  border-radius: 4px;
  cursor: pointer;
  display: flex; /* Añadido para alinear el icono y el texto en una fila */
  align-items: center; /* Añadido para centrar verticalmente el contenido */
}

.activeWindow {
  background-color: #017ACD;
  color: #ffffff;
}

.window img {
  width: 30px;
  height: 20px;
  margin-right: 8px; /* Añadido margen derecho para separar la imagen del texto */
}

/* Añadido para ocultar el texto en dispositivos móviles */
@media (max-width: 530px) {
  .taskbarWindows {
    flex-direction: column;
    align-items: center;
  }

  .window {
    width: 100%;
    height: 30px;
    margin-bottom: 8px;
    padding: 0px; /* Ajuste del padding para dispositivos móviles */
  }

  .window img {
    width: 30px;
    height: 30px;
    margin-left: 8px; /* Ajustado el margen derecho en dispositivos móviles */
  }

  .window span {
    display: none; /* Oculta el texto en dispositivos móviles */
  }
}
