/* projectsWindow.module.css */
.projectsWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  background-color: #f1f1e3;
  padding: 16px;
  border: 2px solid #009688;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  color: #000000; /* Mismo color de texto que ContactWindow */
}

.titleContainer {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: #8ab8ec;
  border-bottom: 2px solid #578dbd;
  cursor: grab;
}

.titleContainer:active {
  cursor: grabbing;
}

.titleContainer span {
  margin-left: 10px;
}

.closeButton {
  position: relative;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  background-color: #ff0000;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  padding: 4px 8px 4px;
  width: 28px;
  height: 28px;
  margin-left: auto;
  margin-right: 4px;
}

.closeButton:hover {
  background-color: #cc0000;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.content {
  margin-top: 16px;
  flex: 1;
  border-radius: 4px;
  padding: 8px;
  background-color: #ffffff;

}

/* Media query para hacerlo responsive en pantallas más pequeñas */
@media (max-width: 600px) {
  .projectsWindow {
    width: 90%;
  }
}
