.desktop {
  height: 100vh;
  overflow: hidden;
}

.wallpaper {
  user-select: none; 
  pointer-events: none; 
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  .desktop {
    height: 100vh; 
    overflow: hidden;
  }
}
