.iconoProjectsContainer {
  position: fixed;
  top: calc(10px + (2 * var(--distancia-entre-iconos)));
  left: 10px;
}

.iconoProjects {
  width: 70px;
  height: 70px;
  /* Agrega otros estilos según sea necesario */
}

.iconoProjects:hover {
  cursor: pointer;
  opacity: 0.9;
}
