/* AboruMewidowm.module.css */
.NeabyTourWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  background-color: #f1f1e3;
  padding: 16px;
  border: 2px solid #009688;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  color: #333333;
}

.titleContainer {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: #8ab8ec; /* Azul más suave */
  border-bottom: 2px solid #64a2d8; /* Línea inferior para simular el estilo de Windows XP */
  cursor: pointer;
}

.titleContainer span {
  margin-left: 10px; /* Ajusta el valor según sea necesario */
}

.closeButton {
  position: relative;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  background-color: #ff0000;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  padding: 4px 8px 4px;
  width: 28px;
  height: 28px;
  margin-left: auto;
  margin-right: 4px;
}

.closeButton:hover {
  background-color: #cc0000;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.content,
.content2 {
  margin-top: 16px;
  flex: 1;
  background-color: #ffffff; /* Fondo similar a Windows XP */
  border: 1px solid #a0a0a0; /* Borde similar a Windows XP */
  border-radius: 4px;
  text-align: center;
}

.imagegolBookingContainer {
  max-width: 100%; /* Hace que la imagen sea responsiva y no se desborde del contenedor */
  max-height: 200px; /* Establece la altura máxima de la imagen */
  overflow: hidden; /* Recorta cualquier parte de la imagen que se desborde */
}

.golBookingImage {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: auto; /* Mantiene la proporción original de la imagen */
  cursor: pointer;
}


@media (max-width: 600px) {
  .NeabyTourWindow {
    width: 90%;
  }
}
