.startButton {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startIcon {
  width:140px ;
  height: 40px;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.5);
}

.startIcon:hover {
  opacity: 0.8;
  cursor: pointer;
}